/* You can add global styles to this file, and also import other style files */

/* === Plugin styles === */


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "../assets/styles/variables";
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";
@import "~bootstrap/scss/bootstrap";
@import "../assets/styles/fonts";
@import "../assets/styles/functions";

/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";


/* === Template mixins === */
@import "../assets/styles/mixins/animation";
@import "../assets/styles/mixins/badges";
@import "../assets/styles/mixins/buttons";
@import "../assets/styles/mixins/misc";
@import "../assets/styles/mixins/color-functions";
@import "../assets/styles/mixins/cards";
@import "../assets/styles/mixins/blockqoute";


/* === Core Styles === */
@import "../assets/styles/typography";
@import "../assets/styles/reset";
@import "../assets/styles/responsive";
@import "../assets/styles/misc";
@import "../assets/styles/utilities";
@import "../assets/styles/demo";
@import "../assets/styles/spinner";
@import "../assets/styles/dashboard";

/* === Components === */

@import "../assets/styles/components/checkbox-radio";
@import "../assets/styles/components/forms";
@import "../assets/styles/components/icons";
@import "../assets/styles/components/tables";
@import "../assets/styles/components/buttons";
@import "../assets/styles/components/breadcrumbs";
@import "../assets/styles/components/badges";
@import "../assets/styles/components/cards";
@import "../assets/styles/components/preview";
@import "../assets/styles/components/lists";
@import "../assets/styles/components/todo-list";
@import "../assets/styles/components/dropdowns";
@import "../assets/styles/components/loaders/loaders";

@import "../assets/styles/components/landing-screens/auth";

/* === Plugin Overrides === */
@import "../assets/styles/components/plugin-overrides/slick-carousel";
@import "../assets/styles/components/plugin-overrides/jquery-jvectormap";

/* === Layout === */
@import "../assets/styles/navbar";
@import "../assets/styles/sidebar";
@import "../assets/styles/footer";
@import "../assets/styles/layout";

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,400&display=swap');


.my_input {
  border: none;
  border-radius: 5px;
  border-color: aqua;
  width: 100px;
}
.custom-control-label{
  color:#282c34
}
.login1 , .register1{
  z-index: -8;
    background: url("./user-pages/loginImg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.mylogincard ,.myregistercard {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    
}

.heading {
  font-family: 'Work Sans', sans-serif;
  font-size:30px;
  padding-top:15px
  
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  color:#ffff
}
.myForm{
  margin-top: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.myForm{
  margin-top: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
}
#profil{
  background: url("./basic-ui/achraf.jpg") no-repeat  fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
  
.heading {
  font-family: 'Work Sans', sans-serif;
  font-size:30px;
  padding-top:15px
  
}
.addTra{
  background: url("./basic-ui/gozha-net-xDrxJCdedcI-unsplash.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  font-size: medium;
  color: #ffff;
}
#title {
  text-align: center;
  font-family: arial, sans-serif;
  color: #ffff;
}

#students1 , #students2, #students3, #students4, #students5, #students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students td, #students th , #students1 td, #students2 th, #students3 td, #students3 th , #students4 td, #students4 th, #students5 td, #students5 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}
#students tr:nth-child(2n+1){background-color: #ffff;}
#students tr:hover {background-color: #ddd;}

#students1 tr:nth-child(even){background-color: #f2f2f2;}
#students1 tr:nth-child(2n+1){background-color: #ffff;}
#students1 tr:hover {background-color: #ddd;}

#students2 tr:nth-child(even){background-color: #f2f2f2;}
#students2 tr:nth-child(2n+1){background-color: #ffff;}
#students2 tr:hover {background-color: #ddd;}

#students3 tr:nth-child(even){background-color: #f2f2f2;}
#students3 tr:nth-child(2n+1){background-color: #ffff;}
#students3 tr:hover {background-color: #ddd;}

#students4 tr:nth-child(even){background-color: #f2f2f2;}
#students4 tr:nth-child(2n+1){background-color: #ffff;}
#students4 tr:hover {background-color: #ddd;}

#students5 tr:nth-child(even){background-color: #f2f2f2;}
#students5 tr:nth-child(2n+1){background-color: #ffff;}
#students5 tr:hover {background-color: #ddd;}

#students th , #students1 th ,#students2 th ,#students3 th ,#students4 th ,#students5 th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #6fd6b0;
  color: white;
}
tr{
  color:black
}



.grid-item {
  padding: 20px;
}




/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 2.3em;
  font-size: 1.05em;
  line-height: 1.7;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.4em;
  height: 1.4em;
  border: 1px solid #aaa;
  background: #FFF;
  border-radius: .2em;
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all .275s;
      transition: all .275s;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✕';
  position: absolute;
  top: .525em;
  left: .18em;
  font-size: 1.375em;
  color: #CB22ED;
  line-height: 0;
  -webkit-transition: all .2s;
      transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
      transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
      transform: scale(1) rotate(0);
}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
  color: #777;
}

[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

strong{
  font-family: 'arial', cursive;
}




.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 6px 7px 7px black;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
